:root {
    --color_pink: #ff8282;
    --color_pink2: #ff6f74;
    --color_pink3: #eb686d;
    /*C9093*/
    --color_pink4: #FFD9D3;
    --color_bg: #F4EFF1;
    --color_grey: #6B6B6B;
    --color_grey2: #C9BBBB;
    --color_dark_grey: #3E3E3E;
}

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


section {
    padding-bottom: 150px;
}

.container {
    margin-top: 60px;
}


.color-font-pink {
    color: var(--color_pink);
}

.color-font-grey {
    color: var(--color_grey) !important;
}

.bg-pink {
    background-color: var(--color_pink);
}

.bg-white {
    background-color: white;
}

.f-arial {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: rgba(255, 255, 255, 0.9) !important;
}

footer {
    padding: 20px 0;
    background: #FF8083;
}

.my-rounded {
    border-radius: calc(1.5rem - 1px) !important;
}

body {
    background: #F8F8F8;
    font-family: 'Calibri';
    font-size: x-large;
    color: var(--color_grey);
}

/*Кнопка в розовом стиле*/
.btn {
    background: var(--color_pink);
    color: white;
    border: var(--color_pink);
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background: var(--color_pink2);
    color: white;
}

.btn:focus,
.btn:active {
    background: var(--color_pink3);
    box-shadow: none;
}

/*Кнопка в белом стиле*/
.btn-white {
    background: white;
    color: var(--color_grey);
    border: white;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-white:hover {
    background: var(--color_pink2);
    color: white;
}

.btn-white:focus,
.btn-white:active {
    background: var(--color_pink3);
    box-shadow: none;
}

/**/

.btn-none {
    background: none;
    border: none;
}

.btn-nav {
    background: var(--color_pink);
    color: white;
    border: var(--color_pink);
    border-radius: 15px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

}

.form-search {
    border-radius: 10px;
    min-width: 500px;
}


.p-btn-nav {
    padding: 0 5px;
    margin: 0;
    font-size: 18px;
}

header a {
    font-size: medium;
}

.section-header {
    font-weight: 350;
    color: var(--color_grey);
    text-align: center;
}

.section_slider {
    padding: 0px !important;
}

.slider-title {
    font-size: clamp(0.7rem, 3vw, 3.8rem);
}



.slider-desc {
    position: absolute;
    top: 25%;
    left: 10%;
    z-index: 20;
}

.line-discount {
    width: 2px;
    height: 40px;
    background: var(--color_dark_grey);
    margin-left: 5px;
    margin-right: 10px;
}

.discount {
    color: var(--color_dark_grey);
    font-size: clamp(0.5rem, 2vw, 1.1rem);
    width: 150px;
}

.slider-subtitle {
    font-style: italic;
    font-weight: 400;
    color: var(--color_dark_grey);
    font-size: clamp(0.5rem, 2vw, 1.5rem);

}

.btn-slider {
    font-size: clamp(0.5rem, 2vw, 2.5rem);
    border-radius: 30px;
    padding: 3px 50px;
    margin-top: 7%;
}


.section_services {
    background: #fff;
}

.section_services h5 {
    color: var(--color_pink);
}

.section_services p {
    color: var(--color_grey);
    width: 100%;
    max-width: 300px;
    font-size: 16px;
}

.service_circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: var(--color_pink);
    border: 5px solid #ffc2c2;
}

.line-section-header {
    height: 5px;
    background: var(--color_pink4);
    border-radius: 30px;
}

.card_service {
    padding: 40px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.card_service:hover {
    background: #FFF3F3;
}


.img-cake-about {
    width: 350px;
    height: 300px;
    transform: rotate(-7.04deg);
}

.about-subtitle {
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.s_cake_about {
    background: #fff;
    border-radius: 30px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.index-products {
    padding: 0 100px;
}

.btn-about {
    width: 70px;
    height: 70px;
    align-items: center;
    justify-content: center;
}

.btn-order {
    background: none;
    border: 2px solid #FFFFFF;
    border-radius: 29px;
    font-size: 30px;
    width: 300px;
}


.btn-order:hover {
    background: var(--color_pink2);
    color: white;
    border: 2px solid var(--color_pink2);
}

.bg-image {
    background: url("../img/bg-order.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 70vh;
}


/*card product*/

.card {
    border-radius: calc(1.5rem - 1px);
}
.card-body {
    margin-top: auto;
    margin-bottom: auto;
}
.btn-product {
    width: 100%;
    height: 40px;
    font-size: calc(1.2rem - 1px);
}

/* card img auto width height */
.card-img,
.card-img-top {
    border-top-left-radius: calc(1.5rem - 1px);
    border-top-right-radius: calc(1.5rem - 1px);
}
.card-img-top {
    height: 14vw;
    object-fit: cover;
}
@media (min-width: 350px) {
    .card-img-top {
        height: 50vw;
    }
}
@media (min-width: 576px) {
    .card-img-top {
        height: 40vw;
    }
}
@media (min-width: 768px) {
    .card-img-top {
        height: 20vw;
    }
}
@media (min-width: 992px) {
    .card-img-top {
        height: 14vw;
    }
}
@media (min-width: 1200px) {
    .card-img-top {
        height: 14vw;
    }
}

.container-margin {
    margin-bottom: 200px;
}

.btn-all-products {
    font-size: 24px;
    padding: 5px 25px;
}

.btn-registration {
    background: none;
    color: var(--color_grey);
    border: 2px solid var(--color_grey);
    border-radius: 29px;
    font-size: 30px;
    width: 300px;
}


.btn-registration:hover {
    background: #222222;
    color: white;
    border: 2px solid #222222;
}

.btn-registration:focus,
.btn:active {
    background: var(--color_dark_grey);
    box-shadow: none;
}


.footer-line {
    background: #fff;
    width: 100%;
    height: 1px;
    margin: 70px 0px;
}

.btn-social {
    border: 1px solid white;
    border-radius: 50px;
}


/* Страница продукции */

.breadcrumbs * {
    color: var(--color_pink) !important;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}


/* Диапазон */


*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container1 {
    position: relative;
    width: 100%;
    height: 50px;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.slider-track {
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
    /*высота кружков*/
}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}

input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 0.8em;
    /*ширины кружков*/
    width: 0.8em;
    /*высота кружков*/
    background-color: var(--color_pink);
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--color_pink);
    pointer-events: auto;
}

input[type="range"]::-ms-thumb {
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--color_pink);
    pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb {
    background-color: #ffffff;
    border: 3px solid var(--color_pink);
}

.values {
    background-color: var(--color_pink);
    width: 32%;
    position: relative;
    margin: auto;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    color: #ffffff;
}

.values:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 15px solid var(--color_pink);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: auto;
    bottom: -14px;
    left: 0;
    right: 0;
}

/* Аккордион */

.my-form-control {
    border-radius: calc(0.6rem - 1px);
    background: none;
    color: #616161;
    height: 35px;
}

.form-check-input:checked {
    background-color: var(--color_pink);
    border-color: var(--color_pink);
}

.accordion-item {
    background: transparent;
    border: none;
}

.accordion-button:not(.collapsed) {
    color: #6b6b6b;
    background: none;
    box-shadow: none;
}

.btn-dropdown {
    background: transparent;
    width: 100px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #6b6b6b;
}

.accordion-button:focus {
    border: none;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/i-chevron.png);
}

.form-check-input:focus {
    box-shadow: none;
    border-color: var(--color_pink);
}

/* form-select*/

.my-form-select {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    font-size: 18px;

    padding: 4px;
    padding-left: 20px;
    /* font-weight: bold; */
    color: #838383;

}

.form-select:focus {
    box-shadow: none;
    border-color: var(--color_grey);
}

/* hr*/

.hr-line {
    color: var(--color_pink);
    padding-bottom: 2px;
    border-radius: 15px;
}

/* Страница товара product-id*/

.container_product {
    margin-top: 50px;
}

.img-product {
    margin-top: 15px;
    margin-bottom: 40px;
}

/* Характеристика с точками */

ul.leaders {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
}
ul.leaders li:before {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
}
ul.leaders span:first-child {
    padding-right: 0.33em;
    background: #F8F8F8;
}
ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background: #F8F8F8;
}


/* Корзина */

.cart-img {
    width: 6vw;
    height: 6vw;
    object-fit: cover;
}

.cart-desc * {
    margin-bottom: 0;
}

.modal-confirm-order {
    max-width: 800px !important;
}

/* Кнопки увеличения количества товаров */

.btns-count button {
    border-radius: calc(0.4rem - 1px);
    padding: 10px;
}

/* Личный профиль */

.btn-profile-photo {
    line-height: 0%;
    background: #FFC0C0;
    color: #ffffff;
    padding: 40px 30px;
    border: none;
}
.user-order {
    box-shadow: inset 100px 100px rgb(136, 37, 37);
    background: linear-gradient(to bottom, #fff1f1 90px, transparent 130px);
}

